<div class="list-container">
  <h1 class="h1">Tweets</h1>
  <div class="cards-container">
    <a *ngIf="isLoggedIn()" [routerLink]="['new']">Create New Tweet</a>
    <div *ngIf="tweetList">
      <div
        *ngFor="let tweet of tweetList.slice().reverse()"
        class="card single-card-container"
        style="width: 18rem"
      >
        <div class="card-body">
          <h5 class="card-title">{{ tweet.title }}</h5>
          <h6 class="card-subtitle mb-2 text-body-secondary">
            <a [routerLink]="['/tweet/users', tweet.tweeterId]"
              >{{
                tweet.tweeterId !== undefined
                  ? connectTweeterToId(tweet.tweeterId)
                  : "Unknown"
              }}
            </a>
            at -- {{ tweet.createdAt }}
          </h6>
          <p class="card-text">
            {{ tweet.tweetBody }}
          </p>
          <div *ngIf="canEdDelTweet(tweet)">
            <button
              class="card-link btn btn-danger"
              (click)="deleteTweet(+tweet.tweetId!)"
            >
              Delete
            </button>
            <a
              class="card-link btn btn-primary"
              [routerLink]="['edit', tweet.tweetId]"
              >Edit</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
