<form (ngSubmit)="signUp()">
  <h1>REGISTER</h1>
  <span>First Name </span>
  <input
    placeholder="Enter First Name"
    type="text"
    name="firstName"
    [(ngModel)]="newUser.firstName"
  /><br /><br />
  <span>Last Name </span>
  <input
    placeholder="Enter Last Name"
    type="text"
    name="lastName"
    [(ngModel)]="newUser.lastName"
  /><br /><br />
  <span>Email </span>
  <input
    placeholder="Enter Email"
    type="text"
    name="email"
    [(ngModel)]="newUser.email"
  /><br /><br />
  <span>Password </span>
  <input
    placeholder="Enter Password"
    type="text"
    name="password"
    [(ngModel)]="newUser.password"
  /><span>Username </span>
  <input
    placeholder="Enter Username"
    type="text"
    name="userName"
    [(ngModel)]="newUser.userName"
  /><br /><br />
  <span>Bio </span>
  <input
    placeholder="Enter Bio"
    type="text"
    name="bio"
    [(ngModel)]="newUser.bio"
  /><br /><br />

  <button>Sign Up</button>
</form>
