<form (ngSubmit)="signUp()" class="signupform">
  <h1>REGISTER</h1>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter First Name"
      type="text"
      name="firstName"
      [(ngModel)]="newUser.firstName"
    />
    <label for="floatingInput">First Name</label>
  </div>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter Last Name"
      type="text"
      name="lastName"
      [(ngModel)]="newUser.lastName"
    />
    <label for="floatingInput">Last Name</label>
  </div>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter Email"
      type="text"
      name="email"
      [(ngModel)]="newUser.email"
    />
    <label for="floatingInput">Email address</label>
  </div>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter Password"
      type="text"
      name="password"
      [(ngModel)]="newUser.password"
    />
    <label for="floatingInput">Password</label>
  </div>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter Username"
      type="text"
      name="userName"
      [(ngModel)]="newUser.userName"
    />
    <label for="floatingInput">Username</label>
  </div>

  <div class="form-floating">
    <input
      class="form-control"
      id="floatingInput"
      placeholder="Enter Bio"
      type="text"
      name="bio"
      [(ngModel)]="newUser.bio"
    />
    <label for="floatingInput">Bio</label>
  </div>

  <button class="btn btn-primary">Sign Up</button>
</form>
