<form (ngSubmit)="onSubmit()" class="edit-form">
  <div class="input-group">
    <label for="name" class="input-group-text head">Title:</label>
    <input
      class="form-control"
      aria-label="With textarea"
      type="text"
      id="name"
      [(ngModel)]="ExistingTweet.title"
      name="name"
      required
    />
  </div>
  <div class="input-group">
    <label for="type" class="input-group-text head">Body:</label>
    <input
      class="form-control body-control"
      aria-label="With textarea"
      type="text"
      id="type"
      [(ngModel)]="ExistingTweet.tweetBody"
      name="type"
      required
    />
  </div>
  <button class="btn btn-primary" type="submit">Save</button>
</form>
